  <head>
    <!-- meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" initial-scale=1, shrink-to-fit=no">
    
    <!-- Prefetch -->
    <link rel="dns-prefetch" href="https://fonts.gstatic.com/" >
    <link rel="dns-prefetch" href="https://cdn.jsdelivr.net/" >
    <link rel="dns-prefetch" href="https://cdnjs.cloudflare.com/" > 
    <link rel="prefetch" as="style"  onload="this.rel = 'stylesheet'" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
                                                                                                               
    {% seo %}
                                                                 
    {% capture title %}
    {%- if page.share-title -%}
      {{ page.share-title | strip_html | xml_escape }}
    {%- elsif page.title -%}
      {{ page.title | strip_html | xml_escape  }}
    {%- else -%}
      {{ site.title | strip_html | xml_escape }}
    {%- endif -%}
    {% endcapture %}

    {% capture description %}
    {%- if page.share-description -%}
      {{ page.share-description | strip_html | xml_escape }}
    {%- elsif page.subtitle -%}
      {{ page.subtitle | strip_html | xml_escape }}
    {%- else -%}
      {%- assign excerpt_length = site.excerpt_length | default: 50 -%}
      {{ page.content | strip_html | xml_escape | truncatewords: excerpt_length | strip }}
    {%- endif -%}
    {% endcapture %}
                                                                 
    <title>{{ site.title }}</title>
    
  {% if page.canonical_url != nil %}
  <link rel="canonical" href="{{ page.canonical_url }}"/>
  {% else %}
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  {% endif %}
  
  {% if site.author %}
  <meta name="author" content="{{ site.author }}">
  {% endif %}
                                               
  <meta name="description" content="{{ description }}">
    
  {% if site.keywords %}
  <meta name="keywords" content="{{ site.keywords }}">
  {% endif %}
                                                     
  <link rel="manifest" href="manifest.json">
  <link rel="apple-touch-icon" href="/apple-icon.png">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | absolute_url }}">                                                  
  
  <!--
  {% comment %}
  {% include gtag.html %}
  {% include gtm_head.html %}
  {% include google_analytics.html %}
  {% endcomment %}
  -->                                                                                                                
    
  {% if site.title %}
  <meta property="og:site_name" content="{{ site.title }}">
  {% endif %}
                                                           
  <meta property="og:description" content="{{ description }}">
  
  <!-- https://web.dev/themed-omnibox/ -->
  <meta name="theme-color" content="{{ site.color }}"/>

  {% if img != "" %}
  <meta property="og:image" content="{{ img | absolute_url }}">
  {% endif %}

  {% if page.id %}
  <meta property="og:type" content="article">
  <meta property="og:article:author" content="{{ site.author }}">
  <meta property="og:article:published_time" content="{{ page.date | date_to_xmlschema }}">
  <meta property="og:url" content="{{ page.url | absolute_url }}">
  <link rel="canonical" href="{{ page.url | absolute_url }}">
  {% else %}
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ page.url | absolute_url | strip_index }}">
  <link rel="canonical" href="{{ page.url | absolute_url | strip_index }}">
  {% endif %}

  {% if img != "" and img != site.avatar %}
  <meta name="twitter:card" content="summary_large_image">
  {% else %}
  <meta name="twitter:card" content="summary">
  {% endif %}
  <meta name="twitter:site" content="@{{ site.social-network-links.twitter }}">
  <meta name="twitter:creator" content="@{{ site.social-network-links.twitter }}">

  <meta property="twitter:title" content="{{ title }}">
  <meta property="twitter:description" content="{{ description }}">

  {% if img != "" %}
  <meta name="twitter:image" content="{{ img | absolute_url }}">
  {% endif %}

  {% if page.comments and site.staticman.repository and site.staticman.branch %}
  <link rel="stylesheet" href="{{ "/assets/css/staticman.css" | relative_url }}">
  {% endif %}

  {% if page.head-extra %}
    {% for file in page.head-extra %}
      {% include {{ file }} %}
    {% endfor %}
  {% endif %}
                                                                  
    <!-- js -->
    <script src="{{ site.base_url }}/assets/js/navbar.js"></script>
    <script src="{{ site.base_url }}/assets/js/serviceworker.js"></script>
  </head>
